{% spaceless %}
    <a class="user chat-user clearfix" title="${name}" data-chat="user" data-uid="${uid}" data-name="${name}" data-picture="${picture}">
        <img src="${picture}" />
        <span>${name}</span>
    </a>
{% endspaceless %}